@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1665PX;
  width: 84%;
  margin: 0 auto;
}

.contact__form .contact__btn, .welcome__content .welcome__btn a, .banner .wrapper .banner__btn a {
  padding: 15px 30px;
  border-radius: 5px;
  background: #6aaf31;
  color: #fff;
}
.contact__form .contact__btn:hover, .welcome__content .welcome__btn a:hover, .banner .wrapper .banner__btn a:hover {
  background-color: #e6e6e6;
  color: #6aaf31;
  box-shadow: 0 0 10px #000;
}
@media screen and (max-width: 995px) {
  .contact__form .contact__btn, .welcome__content .welcome__btn a, .banner .wrapper .banner__btn a {
    background: #6aaf31;
    color: #fff;
    box-shadow: none;
  }
}

.footer__social .social__item a span, .welcome__content p .line__break, .bar1,
.bar2,
.bar3 {
  text-indent: -99999px;
  float: left;
}

.contact .wrapper p, .gallery .wrapper p, .services .wrapper p {
  padding: 25px 0;
  font-size: 21px;
  letter-spacing: 1px;
}

.contact__form .contact__btn, .form__control--textarea textarea, .form__control input[type=text] {
  border: none;
  outline: none;
  box-sizing: border-box;
}

/*=================================
  Header styling starts here
=================================*/
.hamburger {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  top: 4%;
  left: 90%;
  z-index: 10;
}
@media screen and (max-width: 995px) {
  .hamburger {
    display: block;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 0;
  border-top: 2px solid #fff;
  margin-bottom: 6px;
}

.hamburger:hover .bar1 {
  transform: rotate(45deg) translateX(7px);
}

.hamburger:hover .bar2 {
  display: none;
}

.hamburger:hover .bar3 {
  transform: rotate(-45deg) translateX(5px);
}

.hamburger:hover ~ .header__menu {
  display: flex;
}

.header {
  background-color: #363636;
}
.header .wrapper {
  padding: 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 32px;
  letter-spacing: 1px;
}
.header__logo a {
  color: #e6e6e6;
}

.header__nav {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .header__nav {
    width: 70%;
  }
}
.header__nav .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 995px) {
  .header__nav .header__menu {
    width: 100%;
    padding: 40px 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    flex-direction: column;
    background-color: #363636;
  }
  .menu__item {
    padding: 20px 0;
  }
}
.header__nav .header__menu a {
  color: #cccccc;
  font-size: 16px;
  letter-spacing: 1.5px;
  transition: ease 0.4s;
}
.header__nav .header__menu a:hover {
  text-decoration: underline;
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/* Banner section start here*/
.banner {
  width: 100%;
  position: relative;
}
.banner .wrapper {
  width: 50%;
  padding-top: 7%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fafafa;
}
.banner .wrapper h2 {
  font-size: 68px;
  font-weight: bold;
}
.banner .wrapper p {
  padding: 0 10%;
  margin: 20px 0;
  font-size: 25px;
  letter-spacing: 1px;
}
@media screen and (max-width: 995px) {
  .banner .wrapper p {
    margin: 0;
  }
}
.banner .wrapper .banner__btn a {
  margin: 25px 0;
  font-size: 18px;
  letter-spacing: 2px;
}

/* Banner section ends here*/
/* welcome section starts here */
.welcome {
  background-color: #f7f7f7;
}
.welcome .wrapper {
  padding: 6.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 995px) {
  .welcome .wrapper {
    flex-direction: column;
  }
}
.welcome__content {
  flex-basis: 48%;
}
.welcome__content .welcome__heading {
  padding-bottom: 15px;
  position: relative;
  color: #2e2e2e;
  font-size: 38px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.welcome__content .welcome__heading::after {
  content: "";
  width: 12%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #6aaf31;
}
.heading__bold {
  position: relative;
  color: #6aaf31;
}

.welcome__content p .line__break {
  display: block;
  float: unset;
}
.welcome__content .welcome__btn a {
  font-size: 18px;
  letter-spacing: 3px;
  word-spacing: 2px;
  transition: ease 0.4s;
}

.welcome__care {
  flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 995px) {
  .welcome__care {
    margin-top: 20px;
  }
}
.welcome__care .care__items {
  flex-basis: 47.5%;
}
.welcome__care .care__items h3 {
  margin: 20px 0;
  color: #2e2e2e;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}
.welcome__care .care__items p {
  padding: 0;
}

.welcome .wrapper p {
  padding: 40px 0;
  margin: 8px 0;
  color: #666666;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 25px;
}

/* welcome section ends here */
/* Our services section start here */
.sections__heading {
  padding: 16px 0;
  position: relative;
  color: #f2f2f2;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}
.sections__heading::after {
  content: "";
  width: 6%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d9d9d9;
}

.services {
  background-color: #6aaf31;
  text-align: center;
  color: #ebebeb;
}
.services .wrapper {
  padding: 5.5% 0;
}
@media screen and (max-width: 640px) {
  .services .wrapper p {
    font-size: 28px;
  }
}
.services .wrapper .services__list {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 995px) {
  .services .wrapper .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
}
.services__item {
  flex-basis: 22%;
}
.services__item figure {
  width: 80%;
  margin: 24px auto;
  border: 12px solid #71bb34;
  border-radius: 50%;
  overflow: hidden;
}
.services__item h5 {
  color: #f2f2f2;
  font-size: 28px;
}
@media screen and (max-width: 640px) {
  .services__item h5 {
    font-size: 68px;
  }
}
.services__item p {
  padding: 15px 0;
  font-size: 18px;
}

/* Our services section ends here */
/* Project gallery section start here */
.gallery {
  background-color: #f7f7f7;
  text-align: center;
}
.gallery .wrapper {
  padding: 4.5% 0;
  color: #666666;
}
.gallery .wrapper .sections__heading {
  color: #2e2e2e;
}
.gallery .wrapper .sections__heading::after {
  background-color: #6aaf31;
}
.gallery_tabs {
  padding: 2.5% 0 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.gallery_tabs .tab__btn {
  padding: 8px 20px;
  border-radius: 5px;
  margin: 0 15px;
  background-color: #dedede;
  color: #666666;
  font-size: 18px;
  letter-spacing: 1px;
}
.gallery_tabs .tab__btn:hover {
  background-color: #6aaf31;
  color: #fff;
}
.gallery_tabs .tab__btn--active {
  background-color: #6aaf31;
  color: #fff;
}

.gallery__iteam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .gallery__iteam {
    justify-content: center;
  }
}
.gallery__iteam .gallery__img {
  margin-bottom: 35px;
}

/* Project gallery section ends here */
/* Testimonial section start here */
.testimonials {
  background-color: #6aaf31;
  color: #f2f2f2;
  text-align: center;
}
.testimonials .wrapper {
  padding: 5.5% 0;
}
.testimonials__slider {
  width: 79.3%;
  padding: 4.8% 0;
  margin: 0 auto;
}
.testimonials__slider .testimonials__slide {
  display: none;
}
.testimonials__slider .testimonials__slide--active {
  display: block;
}
.testimonials__slider .testimonials__slide--active p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 32px;
}
.testimonials__title {
  margin: 18px 0;
  display: inline-block;
  font-size: 18px;
}

/* Testimonial section ends here */
/* Contact section start here */
.contact {
  background-color: #f7f7f7;
  text-align: center;
}
.contact .wrapper {
  padding: 4.3% 0 3.3%;
  color: #666666;
}
.contact .wrapper .sections__heading {
  color: #2e2e2e;
}
.contact .wrapper .sections__heading::after {
  background-color: #6aaf31;
}
.contact .wrapper a {
  color: #666666;
  transition: ease 0.4s;
}
.contact .wrapper a:hover {
  color: #000;
}
.contact .wrapper .contact__heading {
  padding: 10px 0;
  position: relative;
  color: #4d4d4d;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: bold;
}
.contact__details {
  width: 73%;
  padding: 3% 0 4.5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 995px) {
  .contact__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.contact__details .contact__item {
  width: 22%;
  margin: 0 0;
}
@media screen and (max-width: 995px) {
  .contact__details .contact__item {
    width: 100%;
    margin: 20px 0;
  }
}
.contact__details .contact__item:nth-child(2) {
  width: 25%;
}
@media screen and (max-width: 995px) {
  .contact__details .contact__item:nth-child(2) {
    width: 100%;
  }
}
.contact__details .contact__heading {
  margin-bottom: 30px;
  position: relative;
}
.contact__details .contact__heading::after {
  content: "";
  width: 40%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d9d9d9;
}
.contact__details address, .contact__details p {
  padding: 0 0;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}

.contact__form {
  width: 64.5%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.form__control {
  width: 48%;
}
@media screen and (max-width: 995px) {
  .form__control {
    width: 100%;
  }
}
.form__control input[type=text] {
  width: 100%;
  padding: 8px 30px;
  border: 1px solid #d9d9d9;
  margin: 15px 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.form__control--textarea {
  width: 100%;
}
.form__control--textarea textarea {
  width: 100%;
  height: 130px;
  padding: 20px 30px;
  font-size: 18px;
  border: 1px solid #d9d9d9;
}

.contact__form .contact__btn {
  margin: 30px auto;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Contact section ends here */
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
footer {
  background-color: #363636;
  text-align: center;
}
.footer__social {
  padding: 10px 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.footer__social .social__item a {
  width: 28px;
  height: 28px;
  padding: 10px;
  border-radius: 50%;
  margin: 28px 32px;
  position: relative;
  background-color: #4d4d4d;
  color: #6aaf31;
  transition: ease 0.4s;
}
.footer__social .social__item a:hover {
  background-color: #6aaf31;
  color: #4d4d4d;
}
.footer__social .social__item a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: fontAwesome;
}
.footer__social .facebook::after {
  content: "";
}
.footer__social .twitter::after {
  content: "";
}
.footer__social .google::after {
  content: "";
}

footer .wrapper p {
  padding: 10px 0 24px;
  color: #666666;
  font-size: 18px;
  letter-spacing: 1px;
}
footer .wrapper p .footer__bold {
  color: gray;
}

/*=================================
  footer styling ends here
=================================*/

/*# sourceMappingURL=style.css.map */
