/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1665PX;
  width: 84%;
  margin: 0 auto;
}

.welcome .wrapper .welcome__content .welcome__btn a, .banner .wrapper .banner__btn a {
  padding: 15px 30px;
  border-radius: 5px;
  background: #6aaf31;
  color: #fff;
}
.welcome .wrapper .welcome__content .welcome__btn a:hover, .banner .wrapper .banner__btn a:hover {
  background-color: #e6e6e6;
  color: #6aaf31;
  box-shadow: 0 0 10px #000;
}

.welcome .wrapper .welcome__content p .line__break, .bar1,
.bar2,
.bar3 {
  text-indent: -99999px;
  float: left;
}

.gallery .wrapper p, .services .wrapper p {
  padding: 25px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

/*=================================
  Header styling starts here
=================================*/
.hamburger {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  top: 4%;
  left: 7%;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 0;
  border-top: 2px solid #fff;
  margin-bottom: 6px;
}

.hamburger.active .bar1 {
  transform: rotate(45deg) translateX(7px);
}

.hamburger.active .bar2 {
  display: none;
}

.hamburger.active .bar3 {
  transform: rotate(-45deg) translateX(5px);
}

.header {
  background-color: #363636;
}
.header .wrapper {
  padding: 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper .header__logo {
  font-size: 32px;
  letter-spacing: 1px;
}
.header .wrapper .header__logo a {
  color: #e6e6e6;
}
.header .wrapper .header__nav {
  width: 50%;
}
.header .wrapper .header__nav .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper .header__nav .header__menu a {
  color: #cccccc;
  font-size: 16px;
  letter-spacing: 1.5px;
  transition: ease 0.4s;
}
.header .wrapper .header__nav .header__menu a:hover {
  text-decoration: underline;
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/* Banner section start here*/
.banner {
  width: 100%;
  position: relative;
}
.banner .wrapper {
  width: 50%;
  padding-top: 7%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fafafa;
}
.banner .wrapper h2 {
  font-size: 68px;
  font-weight: bold;
}
.banner .wrapper p {
  padding: 0 10%;
  margin: 20px 0;
  font-size: 24px;
  letter-spacing: 1px;
}
.banner .wrapper .banner__btn a {
  margin: 25px 0;
  font-size: 18px;
  letter-spacing: 2px;
}

/* Banner section ends here*/
/* welcome section starts here */
.welcome {
  background-color: #f7f7f7;
}
.welcome .wrapper {
  padding: 6.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
.welcome .wrapper .welcome__content {
  flex-basis: 48%;
}
.welcome .wrapper .welcome__content .welcome__heading {
  padding-bottom: 15px;
  position: relative;
  color: #2e2e2e;
  font-size: 38px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.welcome .wrapper .welcome__content .welcome__heading::after {
  content: "";
  width: 12%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #6aaf31;
}
.welcome .wrapper .welcome__content .welcome__heading .heading__bold {
  position: relative;
  color: #6aaf31;
}
.welcome .wrapper .welcome__content p .line__break {
  display: block;
  float: unset;
}
.welcome .wrapper .welcome__content .welcome__btn a {
  font-size: 17.5px;
  letter-spacing: 3px;
  word-spacing: 2px;
  transition: ease 0.4s;
}
.welcome .wrapper .welcome__care {
  flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
.welcome .wrapper .welcome__care .care__items {
  flex-basis: 47.5%;
}
.welcome .wrapper .welcome__care .care__items h3 {
  margin: 20px 0;
  color: #2e2e2e;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}
.welcome .wrapper .welcome__care .care__items p {
  padding: 0;
}
.welcome .wrapper p {
  padding: 40px 0;
  margin: 8px 0;
  color: #666666;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}

/* welcome section ends here */
/* Our services section start here */
.sections__heading {
  padding: 16px 0;
  position: relative;
  color: #f2f2f2;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}
.sections__heading::after {
  content: "";
  width: 6%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d9d9d9;
}

.services {
  background-color: #6aaf31;
  text-align: center;
  color: #ebebeb;
}
.services .wrapper {
  padding: 5.5% 0;
}
.services .wrapper .services__list {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
}
.services .wrapper .services__list .services__item {
  flex-basis: 22%;
}
.services .wrapper .services__list .services__item figure {
  width: 80%;
  margin: 24px auto;
  border: 12px solid #71bb34;
  border-radius: 50%;
  overflow: hidden;
}
.services .wrapper .services__list .services__item h5 {
  color: #f2f2f2;
  font-size: 28px;
}
.services .wrapper .services__list .services__item p {
  padding: 15px 0;
  font-size: 17px;
}

/* Our services section ends here */
/* Project gallery section start here */
.gallery {
  background-color: #f7f7f7;
  text-align: center;
}
.gallery .wrapper {
  padding: 4.5% 0;
  color: #666666;
}
.gallery .wrapper .sections__heading {
  color: #2e2e2e;
}
.gallery .wrapper .sections__heading::after {
  background-color: #6aaf31;
}
.gallery .wrapper .gallery_tabs {
  padding: 2.5% 0 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
.gallery .wrapper .gallery_tabs .tab__btn {
  padding: 8px 20px;
  border-radius: 5px;
  margin: 0 15px;
  background-color: #dedede;
  color: #666666;
  font-size: 18px;
  letter-spacing: 1px;
}
.gallery .wrapper .gallery_tabs .tab__btn:hover {
  background-color: #6aaf31;
  color: #fff;
}
.gallery .wrapper .gallery_tabs .tab__btn--active {
  background-color: #6aaf31;
  color: #fff;
}
.gallery .wrapper .gallery__iteam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.gallery .wrapper .gallery__iteam .gallery__img {
  margin-bottom: 35px;
}

/* Project gallery section ends here */
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
/*=================================
  footer styling ends here
=================================*/
/*media query starts*/
/*media query for 995px starts here*/

/*# sourceMappingURL=style.css.map */
