@import '../global/reset';
@import '../global/variables';
@import '../global/mixin';

/*=================================
  Header styling starts here
=================================*/
.hamburger { 
	width: 40px;
	height: 40px;
	display: none;
	@include position(absolute,4%,7%);
}
  
.bar1,
.bar2,
.bar3 {
	width: 100%;
	height: 0;
	border-top: 2px solid $primary-color;
	margin-bottom: 6px;
	@extend %text-indent;
}

.hamburger.active .bar1 { transform: rotate(45deg) translateX(7px); }
.hamburger.active .bar2 { display: none; }
.hamburger.active .bar3 { transform: rotate(-45deg) translateX(5px); }

.header {
	background-color: $bg-primary;
	.wrapper {
		padding: 28px 0;
		@include flex (flex,space-between,center);
		.header__logo {
			font-size: 32px;
			letter-spacing: 1px;
			a {
				color: darken($primary-color,10%);
			}
		}
		.header__nav {
			width: 50%;
			.header__menu {
				@include flex (flex,space-between,center);
				a {
					color: darken($primary-color,20%);
					font-size: 16px;
					letter-spacing: 1.5px;
					transition: ease .4s;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}	
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* Banner section start here*/
.banner {
	width: 100%;
	position: relative;
	.wrapper {
		width: 50%;
		padding-top: 7%;
		@include position (absolute,50%,50%){
			transform: translate(-50%,-50%);
		}
		text-align: center;
		color: darken($primary-color, 2%);
		h2 {
			font-size: 68px;
			font-weight: bold;
		}
		p {
			padding: 0 10%;
			margin: 20px 0;
			font-size: 24px;
			letter-spacing: 1px;
		}
		.banner__btn a {
			@extend %btn-primary;
			margin: 25px 0;
			font-size: 18px;
			letter-spacing: 2px;
		}
	}
}
/* Banner section ends here*/

/* welcome section starts here */
.welcome  {
	background-color: darken($primary-color,3%);
		.wrapper {
			padding: 6.5% 0;
			@include flex (flex,space-between,flex-start);
			.welcome__content {
				flex-basis: 48%;
				.welcome__heading {
					padding-bottom: 15px;
					position: relative;
					color: lighten($dark,18%);
					font-size: 38px;
					font-weight: bolder;
					letter-spacing: 1px;
					&::after {
						content:'';
						width: 12%;
						height: 3px;
						@include position(absolute,100%,0);
						background-color: $secondary-color;
					}
					.heading__bold {
						position: relative;
						color: $secondary-color;
					}
				}
				p {
					.line__break {
						display: block;
						@extend %text-indent;
						float: unset;
					}
				}
				.welcome__btn a{
					@extend %btn-primary;
					font-size: 17.5px;
					letter-spacing: 3px;
					word-spacing: 2px;
					transition: ease .4s;
				}
			}		
			.welcome__care {
				flex-basis: 48%;
				@include flex (flex,space-between,flex-start);
				.care__items { 
					flex-basis: 47.5%;
					h3 {
						margin: 20px 0;
						color: lighten($dark,18%);
						font-size: 26px;
						font-weight: bold;
						letter-spacing: 1px;
					}
					p {
						padding: 0;
					}
				}
			}
			p {
				padding: 40px 0;
				margin: 8px 0;
				color: lighten($dark,40%);
				font-size: 17px;
				letter-spacing: 1px;
				line-height: 25px;
			}
		}
}
/* welcome section ends here */





/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  